<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FountainJS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://fountainjs.io/assets/imgs/fountain.png" />
  
    <!-- build:css({.tmp,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,src}) styles/app.css -->
    <link rel="stylesheet" href="index.css"/>
    <!-- endbuild -->
  </head>

  

  <body ng-app="todo-list">
    <div ng-controller="todo-list-controller">
      <form ng-submit="addNewItem()">
        <label for="description">New Item</label>
        <input type="text" name="description" ng-model="itemDescription" required id="description">
        <button type="submit">Submit</button>
      </form>
      <h1>{{applicationName}}</h1>
      <ul ng-repeat="item in allItems">
        <li>
          <div ng-hide='editingmode' ng-dblclick='editingmode = true'>
            {{item.description}}
            <button ng-click='deleteItem(item)'>delete</button>
            <button ng-click='editingmode = true' ng-hide='editingmode'>edit</button>
            <form>
              <input ng-change='itemStatus(item)'  ng-model='item.done' type="checkbox" name="done" id="done">
              <label for="done">done</label>   
            </form>
          </div>
            <form ng-submit="changeItem(item) ; editingmode = false" ng-show='editingmode'>
              <input type="text" ng-model="item.description" name="description" >
            </form>
        </li>
      </ul>
      


      <form ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
        <div class="form-group">
          <label>email</label>
          <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
        </div>

       <!--  <div class="form-group">
          <label>username</label>
          <input type="text" name="text" ng-model="registrationForm.user_name" required="required" class="form-control"/>
        </div> -->

        <div class="form-group">
          <label>password</label>
          <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
        </div>

        <div class="form-group">
          <label>password confirmation</label>
          <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Register</button>
      </form>
    </div>
  </body>

  <!-- build:js({.tmp,src}) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->
  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->
</html>

